<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SuperBot</string>
    <key>CFBundleExecutable</key>
    <string>SuperBot</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.pdparchitect.superbot</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SuperBot</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Petko D. Petkov</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>SUFeedURL</key>
    <string>https://github.com/pdparchitect/superbot/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>1ZT5NrPiDPaQ54iHGSI1a9JIn6kTrmjQvzZRBA9f/sk=</string>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUSendProfileInfo</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array><dict>
        <key>CFBundleURLName</key><string>com.pdparchitect.superbot.sharing</string>
        <key>CFBundleURLSchemes</key><array><string>superbot</string></array>
    </dict></array>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key><dict><key>default</key><string>Send to Agent…</string></dict>
            <key>NSMessage</key><string>sendToAgent</string>
            <key>NSPortName</key><string>SuperBot</string>
            <key>NSSendFileTypes</key><array><string>public.data</string></array>
            <key>NSSendTypes</key><array><string>public.file-url</string></array>
            <key>NSRequiredContext</key><dict/>
        </dict>
        <dict>
            <key>NSMenuItem</key><dict><key>default</key><string>Ask Agent…</string></dict>
            <key>NSMessage</key><string>sendToAgent</string>
            <key>NSPortName</key><string>SuperBot</string>
            <key>NSUserData</key><string>ask</string>
            <key>NSSendTypes</key><array><string>public.utf8-plain-text</string><string>public.url</string></array>
            <key>NSRequiredContext</key><dict/>
        </dict>
    </array>
</dict>
</plist>
